In [2]:
import pyodbc as py
import pandas as pd

server = "213.140.22.237\SQLEXPRESS"
database = "zanella.luca"
username = "zanella.luca"
password = "xxx123##"
conn = py.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password) 
cursor = conn.cursor()

In [3]:
query_graph = "SELECT * FROM dbo.ProvapuntiSomministrazioneVaccini"
df_graph = pd.read_sql(query_graph,conn)

df_graph = df_graph.groupby("area").count()["Column_1"].reset_index(name="num_vacc")
df_graph

   area  num_vacc
0   ABR        40
1   BAS        26
2   CAL        88
3   CAM        51
4   EMR       130
5   FVG        45
6   LAZ       138
7   LIG       133
8   LOM       111
9   MAR        49
10  MOL         5
11  PAB        33
12  PAT        15
13  PIE       161
14  PUG       362
15  SAR        76
16  SIC       165
17  TOS       151
18  UMB        40
19  VDA         7
20  VEN       165

In [4]:
somm_vacc = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-latest.csv")
somm_vacc

,data_somministrazione,fornitore,area,fascia_anagrafica,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_60_69,...,categoria_forze_armate,categoria_personale_scolastico,categoria_soggetti_fragili,categoria_altro,prima_dose,seconda_dose,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,0,1,0,0,0,...,0,0,0,0,1,0,ITF,ITF1,13,Abruzzo
1,2020-12-27,Pfizer/BioNTech,ABR,30-39,1,3,4,0,0,0,...,0,0,0,0,4,0,ITF,ITF1,13,Abruzzo
2,2020-12-27,Pfizer/BioNTech,ABR,40-49,1,6,7,0,0,0,...,0,0,0,0,7,0,ITF,ITF1,13,Abruzzo
3,2020-12-27,Pfizer/BioNTech,ABR,50-59,4,5,9,0,0,0,...,0,0,0,0,9,0,ITF,ITF1,13,Abruzzo
4,2020-12-27,Pfizer/BioNTech,ABR,60-69,10,4,13,1,0,0,...,0,0,0,0,14,0,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55159,2021-05-21,Vaxzevria (AstraZeneca),VEN,50-59,127,115,0,78,0,0,...,30,109,4,21,27,215,ITH,ITH3,5,Veneto
55160,2021-05-21,Vaxzevria (AstraZeneca),VEN,60-69,1514,1357,3,66,0,2499,...,0,88,7,208,2751,120,ITH,ITH3,5,Veneto
55161,2021-05-21,Vaxzevria (AstraZeneca),VEN,70-79,207,188,0,46,0,0,...,0,4,4,0,305,90,ITH,ITH3,5,Veneto
55162,2021-05-21,Vaxzevria (AstraZeneca),VEN,80-89,4,6,0,1,0,0,...,0,0,0,0,8,2,ITH,ITH3,5,Veneto
55163,2021-05-21,Vaxzevria (AstraZeneca),VEN,90+,0,1,0,0,0,0,...,0,0,0,0,0,1,ITH,ITH3,5,Veneto

In [6]:
df = somm_vacc.groupby("area").sum()[['sesso_maschile','sesso_femminile']].reset_index()
df

   area  sesso_maschile  sesso_femminile
0   ABR          300299           374540
1   BAS          134648           158247
2   CAL          424155           457428
3   CAM         1295655          1488014
4   EMR          987161          1302845
5   FVG          269505           353105
6   LAZ         1280668          1605588
7   LIG          369451           476999
8   LOM         2232929          2960023
9   MAR          344547           444475
10  MOL           75569            92157
11  PAB          123721           148402
12  PAT          114081           147727
13  PIE          948854          1266498
14  PUG          901885          1132319
15  SAR          337237           422882
16  SIC         1021908          1142559
17  TOS          783128          1053882
18  UMB          191912           257068
19  VDA           29227            34739
20  VEN         1077840          1405977

In [8]:
somma_vaccinati = somm_vacc['sesso_maschile'].sum() + somm_vacc['sesso_femminile'].sum()
somma_vaccinati

29969854