In [8]:
import pyodbc as py
import pandas as pd

server = "213.140.22.237\SQLEXPRESS"
database = "zanella.luca"
username = "zanella.luca"
password = "xxx123##"
conn = py.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password) 
cursor = conn.cursor()

In [9]:
query_graph = "SELECT * FROM dbo.ProvapuntiSomministrazioneVaccini"
df_graph = pd.read_sql(query_graph,conn)

df_graph = df_graph.groupby("area").count()["Column_1"].reset_index(name="num_vacc")
df_graph

   area  num_vacc
0   ABR        40
1   BAS        26
2   CAL        88
3   CAM        51
4   EMR       130
5   FVG        45
6   LAZ       138
7   LIG       133
8   LOM       111
9   MAR        49
10  MOL         5
11  PAB        33
12  PAT        15
13  PIE       161
14  PUG       362
15  SAR        76
16  SIC       165
17  TOS       151
18  UMB        40
19  VDA         7
20  VEN       165